<details class="collapsible-section" open>
  <summary class="collapsible-title">
    <h3>Criterion Two: Scholarly, Creative Achievement and Research</h3>
  </summary>

  <div class="detail-cards">
    {% for activity in site.data.pdp-pdr %}
    {% if activity.academic_year == page.academic_year and activity.goal_two %}
    <div class="detail-card">
      <div class="detail-header">
        <span class="detail-name">{{ activity.name }}</span>
      </div>
      <div class="detail-subheader">
        <span class="detail-status">{{ activity.status }}</span>
      </div>

      <div class="detail-body">

        <!-- Description -->
        <div class="detail-item">
          <div style="margin-left: 0.3rem; max-width: 90%; font-size: 0.9rem; color: var(--muted);">
            <strong>Description</strong>: {{ activity.description | markdownify }}
          </div>
        </div>

        <!-- Goal Area Progress Report -->
        <div class="detail-item">
          <span class="authors"><strong>Activity Report:</strong></span>
          {% for report in activity.goal_two %}
          <div class="detail-item">
            <span class="sr-only">Goal Area Two Activity Report: </span>
            <div class="item-title item-icon-settings">
              <div class="item-label">
                {{ report | markdownify }}
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
    {% endif %}
    {% endfor %}
  </div>
</details>