<details class="collapsible-h2">
  <summary class="collapsible-title" role="heading" aria-level="2">Published Scholarship and Preprints</summary>

  <div class="detail-cards">
    {% for article in site.data.publications.articles %}
    <div class="detail-card">

      <div class="detail-header">
        <span class="detail-name">{{ article.title }}</span>
        <span class="detail-status">{{ article.status }}</span>
      </div>

      <div class="detail-subheader">
        {{ article.journal }}
      </div>

      <div class="detail-body">
        <div class="detail-item">

          <div class="item-title item-icon-paper">
            <span class="item-label">
              <span class="authors">{{ article.authors }}.</span>
              <span class="short-work-title">{{ article.title }}.</span>
              <span class="journal-name">{{ article.journal }}</span>{% if article.volume %}<span class="authors">, {{ article.volume }}</span>{% if article.number %}<span class="authors-bf">({{ article.number }})</span>{% endif %}{% endif %}{% if article.pages %}<span class="authors">:{{ article.pages }}</span>{% endif %}<span class="authors">, {{ article.year }}.</span>
            </span>
          </div>

          <div style="margin-left: 35px;">
            <span class="authors">Access:</span>
            {% for target in article.link %}
              <span class="item-type item-meta">
                <a href="{{ target.url }}">{{ target.name }}</a>
              </span>
            {% endfor %}
          </div>

        </div>
      </div>

    </div>
    {% endfor %}
  </div>

</details>