<details class="collapsible-h2">
  <summary class="collapsible-title">Published Scholarship and Preprints</summary>
  <div class="students">
    {% for article in site.data.publications.articles %}
    <div class="student-card">

      <div class="student-header">
        <span class="student-name">{{ article.title }}</span>
        <span class="student-status">
          {{ article.status }}
        </span>
      </div>

      <div class="student-outcome">
        {{ article.journal }}
      </div>

      <div class="student-projects">
        <div class="student-work">
          {% assign icon_class = "project-icon-paper" %}

          <div class="project-title {{ icon_class }}" data-type="student-project">
            <span class="authors">{{ article.authors }}.</span>
            <span class="short-work-title">{{ article.title }}.</span>
            <span class="journal-name">{{ article.journal }}</span>{% if article.volume %}<span class="authors">, {{ article.volume }}</span>{% if article.number %}<span class="authors-bf">({{ article.number }})</span>{% endif %}{% endif %}{% if article.pages %}<span class="authors">:{{ article.pages }}</span>{% endif %}<span class="authors">, {{ article.year }}.</span>
          </div>
          <div>
          <span style="margin-left: 35px;" class="authors">Access:</span>
          {% for target in article.link %}
            <span class="project-type project-meta">
              <a href="{{ target.url }}">{{ target.name }}</a>
            </span>
          {% endfor %}
          </div>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</details>