<nav class="toc" aria-labelledby="toc-heading">
  <h3 id="toc-heading" class="toc-title">Table of Contents</h3>

  <ul>
    <li>
      <a href="#authoring-languages">Authoring Languages</a>
      <ul>
        {% for language in site.data.tool-ecosystem.authoring %}
        <li>
          <a href="#{{ language.title | strip_html | slugify }}">
            {{ language.title | strip_html }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </li>

    <li>
      <a href="#format-conversion-tools">Format Conversion Tools</a>
      <ul>
        {% for tool in site.data.tool-ecosystem.format_conversion %}
        <li>
          <a href="#{{ tool.title | strip_html | slugify }}">
            {{ tool.title | strip_html }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </li>

    <li>
      <a href="#interactive-activities-or-exercises">
        Interactive Activities and Exercises
      </a>
      <ul>
        {% for creator in site.data.tool-ecosystem.activity_creation %}
        <li>
          <a href="#{{ creator.title | strip_html | slugify }}">
            {{ creator.title | strip_html }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </li>

        <li>
      <a href="#hosting-and-deployment-tools">
        Hosting and Deployment Tools
      </a>
      <ul>
        {% for tool in site.data.tool-ecosystem.hosting_deployment %}
        <li>
          <a href="#{{ tool.title | strip_html | slugify }}">
            {{ tool.title | strip_html }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </li>

    <li>
      <a href="#tools-to-check-accessibility-standards">
        Tools to Check Accessibility Standards
      </a>
      <ul>
        {% for tool in site.data.tool-ecosystem.accessibility_checkers %}
        <li>
          <a href="#{{ tool.title | strip_html | slugify }}">
            {{ tool.title | strip_html }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </li>

    <li>
      <a href="#student-data-collection">
        Student Data Collection
      </a>
      <ul>
        {% for tool in site.data.tool-ecosystem.student_data_collection %}
        <li>
          <a href="#{{ tool.title | strip_html | slugify }}">
            {{ tool.title | strip_html }}
          </a>
        </li>
        {% endfor %}
      </ul>
    </li>
  </ul>
</nav>