<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    {% seo %}

    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">

    {% include head-custom.html %}

  </head>
  <body>
    <div class="wrapper">
      <header {% unless site.description or site.github.project_tagline %} class="without-description" {% endunless %}>
        <h1>{{ site.title | default: site.github.repository_name }}</h1>
        {% if site.description or site.github.project_tagline %}
          <p>{{ site.description | default: site.github.project_tagline }}</p>
        {% endif %}
      </header>


      <div class="content-area">
        
        {% include sidebar.html %}

        <section class="main-content">
          {% if page.profile != false and site.data.profile %}
          {% assign p = page.profile | default: site.data.profile %}

          <aside class="profile-panel">
            {% if p.image %}
              <img src="{{ p.image | relative_url }}" class="profile-image">
            {% endif %}

            {% if p.name %}
              <h3>{{ p.name }}</h3>
            {% endif %}

            {% if p.title %}
              <p class="profile-title">{{ p.title }}</p>
            {% endif %}

            {% if p.contact %}
              <div class="profile-section">
                <h4>Contact</h4>
                <blockquote>
                  <span class="broad">Email:</span>
                  <span class="details">{{ p.contact.email }}</span>
                </blockquote>
                <blockquote>
                  <span class="broad">Office:</span>
                  <span class="details">{{ p.contact.office }}</span>
                </blockquote>
                <blockquote>
                  <span class="broad">Phone:</span>
                  <span class="details">{{ p.contact.phone }}</span>
                </blockquote>
              </div>
            {% endif %}

            {% if p.schedule %}
              <div class="profile-section">
                <h4>Schedule ({{ p.schedule.semester }})</h4>
                {% for item in p.schedule.items %}
                <blockquote>
                  <span class="broad">{{ item.name }}</span>
                  <span class="details">{{ item.details }}</span>
                </blockquote>
                {% endfor %}
              </div>
            {% endif %}

            {% if p.seminars %}
              <div class="profile-section">
                <h4>Seminars and Discussions</h4>
                {% for item in p.seminars.items %}
                  <blockquote>
                    <span class="broad">{{ item.name }}</span>
                    <span class="details">{{ item.details }}</span>
                  </blockquote>
                {% endfor %}
              </div>
            {% endif %}
          </aside>
          {% endif %}
          {{ content }}
        </section>


      </div>
    </div>
    <footer>
      <p>Hosted on GitHub Pages &mdash; Original Theme by Me.</p>
    </footer>
  </body>
</html>