<!doctype html>
<html lang="{{ site.lang | default: "en-US" }}">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="color-scheme" content="dark light">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/site.webmanifest">
  {% seo %}
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible:wght@400;700&family=Roboto+Serif:wght@400;600;700&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {% if page.mathjax %}
  <script src="https://cdn.jsdelivr.net/npm/mathjax@4/tex-mml-chtml.js" defer></script>
  {% endif %}

  {% include head-custom.html %}

</head>

<body>
  <div class="wrapper">
    <header {% unless site.description or site.github.project_tagline %} class="without-description" {% endunless %}>
      <h1 class="site-title">{{ site.title | default: site.github.repository_name }}</h1>
      {% if site.description or site.github.project_tagline %}
      <p class="site-subtitle">{{ site.description | default: site.github.project_tagline }}</p>
      {% endif %}
    </header>


    <div class="content-area">

      {% include sidebar.html %}

      <main class="main-content">
        <h1 class="sr-only"> {{ page.title }} </h1>

        {% if page.profile != false %}
        {% assign p = page.profile | default: site.data.profile %}

        <aside class="profile-panel">
          {% if p.image %}
          <img alt="{{ p.image.desc }}" src="{{ p.image.url | relative_url }}" class="profile-image">
          {% endif %}

          {% if p.title %}
          <h2>{{ p.title }}</h2>
          {% endif %}

          {% if p.subtitle %}
          <p class="profile-title">{{ p.subtitle }}</p>
          {% endif %}

          {% if p.blocks %}
          {% for block in p.blocks %}
          <div class="profile-section">
            <h3>{{ block.title }}</h3>
            {% for item in block.items %}
            <blockquote>
              <span class="broad">{{ item.name }}</span>
              {% for line in item.details %}
              <span class="details">{{ line | markdownify }}</span>
              {% endfor %}
            </blockquote>
            {% endfor %}
          </div>
          {% endfor %}
          {% endif %}
        </aside>
        {% endif %}
        {{ content }}
      </main>

    </div>
  </div>
  <footer>
    <p>Hosted on GitHub Pages &mdash; Original WCAG 2.2 AA compliant theme by Me.</p>
  </footer>
</body>

</html>